.main-container{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.calculator-body {
    background-color: lightgray;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 200px;
    height: 300px;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
}

h1 {
    font-family: 'Courier New', Courier, monospace; 
    margin-top: 5px;
}

#clear {
    color: red;
    
}
#clear:hover {
   background-color: lightcoral;
}

.top-display {
   display: flex;
    gap: 10px;
    margin-left: 10px;
    margin-right: 5px;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    background-color: white;
    border: black 1px solid;
    border-radius: 5px;
    height: 40px;
    width: 130px;
}

.previous {
    font-family: 'Courier New', Courier, monospace; 
    font-size: small;
    font-weight: bold;
    margin-right: 2px;
}

.current {
    font-family: 'Courier New', Courier, monospace; 
    font-size: large;
    font-weight: bold;
    margin-right: 2px;
}

.number {
    margin: 5px;
    height: 35px;
    width: 35px;
}
.operator {
    margin: 5px;
    height: 35px;
    width: 35px;
    color: green;

}

.number:hover {
    background-color: lightskyblue;
}

.operator:hover {
    background-color: lightgreen;
}