.main-container{
    display: flex;
    justify-content: center;
}
.calculator-body {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    width: 200px;
    flex-direction: column;
}

h1 {
    font-family: 'Courier New', Courier, monospace; 
}

.first-row, .second-row, .third-row, .header {
   
    
}